/* * {
    border: 1px solid gold;
} */

html {
    height: 100%;
}

body {
    height: 100%;
}
/* Nav Bar Styling*/
li {
    list-style: none;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    padding-inline-start: 0;
}


.leftSideBar {
    color:white;
    width: 25%;
    background: rgb(33, 32, 32);
}
.profileImgTxt {
    text-align: center;
    margin-bottom: 24px;
}

.profileImg {
    padding: 30px;
    padding-bottom: 0px;
}


#profileImg {
    justify-content: center;
    width: 100%;
}
#sideName {
    font-size: 20px;
    margin: 10px 0 0 0;
    
}
#sideLocation {
    font-size: 12px;
    margin-top: 0px;
    
}


/*Right Side of the Page INDEX.HTML*/
.rightSidePage {
    margin-left: 25%;
    background: rgb(89, 62, 97);
    color: rgb(237, 234, 234);
    height: 100%;
}

h1 { 
    font-size: 75px;
    padding-left: 45px;
    margin-bottom: 0;
    
}
.traits p {
    padding-left: 55px;
    margin: 0;
}

#mainName {
    font-size: 55px
}
#headingTxt {
    margin-top: 70px;
}
#spotlightHead {
    text-align: center;
}

.spotlightContainer {
    margin-top: 200px;
    text-align: center;
}

.spotImg {
    height: 12em;
    padding: 0 20px;
    
}
.spotTxt {
    height: 100%;
    width: 100%;
}
#spotTxt1 {
    background-color: purple;
}
#spotTxt2 {
    background-color: aquamarine;
}
#spotTxt3 {
    background-color: pink;
}


