/* * {
    border: 1px solid gold;
} */

html {
     height: 100%;
}

body {
    height: 100%;
}

/* ///////////////////////////////////
LEFT SIDE BAR + NAV STYLING BELOW 
///////////////////////////////////
*/

#homeName {
    font-family: 'Fjalla One', sans-serif;
    padding-left: 20px;
    font-size: 30px;
    margin: .5rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.hamburgerMenu {
    padding-right: 20px;
    cursor: pointer;
}
.hamburgerMenu .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: lightblue;
    font-family: verdana, sans-serif;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.nav__link a:hover {
    background-color: #9DBEBB;
}
.hide {
    display: none;
}

#github {
    height: 35px;
    margin-top: 6px;
    margin-left: 20px;
    display: inline;
}
#linkedin {
    height: 35px;
    margin-top: 7px;
    margin-left: 20px;
    display: inline;

}
.nameLink {
    display: flex;
}


@media screen and (min-width: 600px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
        
    }
    .hamburgerMenu {
        display: none;
    }
}

/* 
///////////////////////////////////
STYLING FOR INDEX.HTML PG BELOW
///////////////////////////////////
*/
.rightSidePage {
    background-image: url('/images/adjusted2.jpg');
    background-size: cover;
    color: rgb(237, 234, 234);
    height: 100%;
    width: auto;
}

#positionTitle { 
    font-size: 75px;
    padding-left: 45px;
    margin-bottom: 0;
    font-family: 'Fjalla One', sans-serif;
    
}
.traits p {
    padding-left: 60px;
    font-size: 30px;
    margin: 0;
    color: #9DBEBB;
}

#headingTxt {
    padding-top: 65px;
    font-family: 'Fjalla One', sans-serif;
}
#spotlightHead {
    margin-top: 100px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.spotlightImg {
    height: 220px;

}

#spotImg1ID {
    background-image: url('/images/Landscaper\ Project.png');
    background-size: cover;
}
.spotImg2 {
    background-image: url('/images/Space-Battle.jpg');
    background-size: cover;
}
.spotImg3 {
    background-image: url('/images/LOTR.jpeg');
    background-size: cover;
}



/* 
///////////////////////////////////
STYLING FOR PROJECTS PAGE BELOW 
///////////////////////////////////
*/

.rightSideProjectsPg {
    height: auto;
    width: auto;
}

#projectsTitle {
    padding-left: 45px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    margin-top: 43px;
    text-align: center;

}
#projectContainer {
    margin-bottom: 30px;
    padding: 50px 65px
}


#item1 {
    height: 200px;
    background-image: url('/images/Landscaper\ Project.png');
    background-size: cover;
    margin: 40px;
}

#item1Txt {
    padding-left: 150px;

}

#item2{
    background-image: url('/images/Space-Battle.jpg');
    background-size: cover;
    margin: 40px;
}
#item2Txt {
    padding-left: 150px;

}

#item3 {
    padding: 20px;
    background:black;
    margin: 40px;
}
#item3Txt {
    padding-left: 150px;

}

#item4 {
    height: 300px;
    margin-top: 10px;
    background-image: url('/images/LOTR.jpeg');
    background-size: cover;
    margin: 30px 0 0 0;
}
#item4Txt {
    padding-left: 150px;

}

.projectName {
    font-size: 25px;
}

.languageUsed {
    font-size: 20px;
}
/* For The Main Showcased Item */

.showcasedProject {
    height: 300px;
    margin-top: 10px;
    background-image: url('/images/LOTR.jpeg');
    background-size: cover;
    margin: 30px 0 0 0;
}

/* 
///////////////////////////////////
STYLING FOR BIO + RESUME PAGE BELOW 
///////////////////////////////////
*/

.rightSideBioPg {
 height: 100%
}

#containimages {
    padding:30px;
}

#smImg1 {
    height:200px;
    width: auto;
    margin: 50px 40px;

}

#bigImg {
    height: 300px;


}

#smImg2 {
    height: 200px;
    width: auto;
    margin: 50px 40px;

}

#nameBio {
    margin-top: 43px;
    text-align: center;
    font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
}
#bioResume {
    text-align: center;
}

#aboutTxt {
    margin: 0 60px;
}

/* 
///////////////////////////////////
STYLING FOR CONTACT PAGE BELOW 
///////////////////////////////////
*/

.rightSideContactPg {
    height: 100%;
    font-family: 'Fjalla One', sans-serif;
}
#contactHead {
    font-family: 'Fjalla One', sans-serif;
    font-size: 43px;
    text-align: center;
    padding:0;
    /* margin-bottom: 10px */
}
#contactInfoContainer {
    text-align: center;
    /* margin: 200px 100px; */
    background-color: #031926;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
}
input {
    display: block;
}
textarea {
    display: block;
    width: 100%;
}
#msgID {
    /* margin-left: 20px; */
}
.w-100 {
    width: 100%;
}
.m-center {
    margin: 0 auto;
}

#contactSubmit {
    background-color: cyan;
}